@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.main {
  &-carousel {
    .carousel-slides  {
      position: relative;

      .carousel-chevrons {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        top: calc(50% - 55px);
        z-index: 2;

        .carousel-chevron {
          cursor: pointer;

          &.move-backwards {
            left: 0;
            padding: 30px 30px 30px 10px;
          }

          &.move-forward {
            right: 0;
            padding: 30px 10px 30px 30px;
          }
        }
      }

      .carousel-slide {
        background-color: $main-light-blue;
        width: 100%;
        margin: 50px 0;
        position: relative;
        overflow: hidden;
        height: 0;
        padding-bottom: 40%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;

        &-1 {
          background-image: url("/assets/images/pages/main/slider-1-image.png");

          .carousel-slide-info-text {
            width: 62%;
          }

          .carousel-slide-info-action {
            margin-top: 40px;
          }
        }

        &-2 {
          background-image: url("/assets/images/pages/main/slider-2-image.png");

          .carousel-slide-info-text {
            width: 62%;
          }

          .carousel-slide-info-action {
            margin-top: 50px;
          }
        }

        &-3 {
          background-image: url("/assets/images/pages/main/slider-3-image.png");

          .carousel-slide-info-text {
            width: 100%;
          }

          .carousel-slide-info-action {
            margin-top: 50px;
          }
        }

        &-circle {
          background-color: $main-bg-blue;
          position: absolute;
          z-index: 1;
          top: -150%;
          left: -50%;
          width: 113%;
          height: 280%;
          border-radius: 50%;
        }

        &-info {
          position: absolute;
          z-index: 2;
          color: $main-dark-blue;
          top: 20%;
          left: 6%;

          &-title {
            font-size: 12px;
            font-weight: 500;
            color: $main-light-blue;
            letter-spacing: 0.25rem;
            text-transform: uppercase;
          }

          &-text {
            font-family: 'Lora', sans-serif;
            font-size: 50px;
            font-weight: 400;
            color: $abs-white;
            line-height: 130%;

            span {
              color: $main-light-blue;
            }
          }

          &-undertext {
            font-size: 24px;
            font-weight: 400;
            color: $abs-white;
            line-height: 130%;
            width: 62%;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.services {
  &-header {
    @include head-lora-38;
    margin-bottom: 40px;
  }

  &-items {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;

    .services-item {
      height: auto;
    }
  }
}

.about {
  padding: 120px 0;

  .container {
    display: flex;
    align-content: center;
    justify-content: space-between;

    .about-image {
      width: 460px;
      flex-shrink: 0;

      img {
        width: 100%;
      }
    }

    .about-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 703px;

      &-text {
        &-title {
          @include head-lora-38;
          margin-bottom: 20px;
        }

        &-description {
          font-size: 14px;
          font-weight: 400;
          line-height: 130%;
          color: $main-dark-blue;
          max-width: 633px;

          span {
            font-weight: 500;
          }
        }
      }

      &-advantages {

        &-title {
          font-family: 'Lora', sans-serif;
          font-weight: 400;
          font-size: 26px;
          color: $main-light-blue;
          margin-bottom: 20px;
        }

        &-box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          row-gap: 20px;

          .about-info-advantage {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 316px;
            column-gap: 13px;

            &-dot {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              position: relative;
              z-index: -1;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $main-bg-blue;

              &-number {
                font-family: 'Lora', sans-serif;
                font-weight: 500;
                font-size: 50px;
                color: $main-light-blue;
                position: absolute;
                transform: translateY(-10px);
              }
            }

            &-text {
              font-size: 14px;
              font-weight: 400;
              line-height: 130%;
              color: $main-dark-blue;
              width: 256px;

              span {
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

.popular {
  &-title {
    @include head-lora-38;
    margin-bottom: 40px;
  }

  &-items {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-link {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 14px;
    cursor: pointer;

    &-text {
      font-size: 20px;
      font-weight: 500;
      color: $main-light-blue;
    }
  }
}

.reviews {
  padding: 120px 0;

  &-title {
    @include head-lora-38;
    margin-bottom: 20px;
  }

  &-carousel {
    position: relative;

    .review-item {
      width: 396px;
      height: 267px;
      padding: 30px;
      border: 2px solid $main-light-blue;
      border-radius: 10px;
      box-sizing: border-box;

      &-head {
        display: flex;
        align-items: center;
        gap: 26px;

        &-image {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-position: center;
          background-size: cover;
        }

        &-name {
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 130%;
        }
      }

      &-text {
        margin-top: 15px;
        font-size: 16px;
        line-height: 140%;
        color: $gray-text-color;
      }
    }

    &-arrows {
      display: flex;

      a {
        top: calc(50% - 5px);
        display: flex;
        position: absolute;
        cursor: pointer;

        &.move-backwards {
          left: -41px;
        }

        &.move-forward {
          right: -41px;
        }
      }
    }
  }
}

.contacts {
  margin-bottom: 120px;

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 26px;

    .contacts-map {

      iframe {
        vertical-align: bottom;
      }
    }

    .contacts-info {

      &-title {
        @include head-lora-38;
      }

      &-blocks {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 20px;

        .contacts-info-block {

          &-title {
            font-family: 'Lora', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: $main-light-blue;
            margin-bottom: 10px;
          }

          &-text {
            font-size: 14px;
            line-height: 130%;
            color: $very-dark-blue;
            text-decoration: none;
          }

          &-socials {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 130px;
            cursor: pointer;

            a:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
