@import '../../../../assets/styles/variables';

.header {
  padding: 40px;

  .container {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    row-gap: 30px;

    .header-left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 100px;
      max-width: 612px;

      .header-menu {
        color: $main-dark-blue;

        ul {
          display: flex;
          gap: 15px 30px;
          flex-wrap: wrap;
          justify-content: center;
          margin: 0;
          padding: 0;

          li {
            list-style: none;

            a {
              font-size: 16px;
              color: $main-dark-blue;
              cursor: pointer;
              text-decoration: none;

              &.active {
                color: $main-light-blue;
              }
            }

          }
        }
      }
    }

    .header-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 450px;

      .header-phone {
        color: $main-light-blue;
        text-decoration: none;
      }

      .header-actions a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 7px;
        text-decoration: none;
        cursor: pointer;

        span {
          color: $main-dark-blue;
        }
      }
    }
  }
}


@media screen and (max-width: 1100px) {
  .header .container {
    flex-direction: column;

    .header-left {
      max-width: 100%;
      column-gap: unset;
      justify-content: space-around;
    }

    .header-right {
      width: 100%;
      column-gap: unset;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 25px 15px;
  }
}
