<footer class="footer">
  <div class="container">
    <div class="footer-up">
      <a href="javascript:void(0)" class="logo">
        <img src="/assets/images/pages/header/logo.svg" alt="Logo">
      </a>

      <nav class="footer-up-menu">
        <ul>
          <li>
            <a [routerLink]="'/'" fragment="services">Услуги</a>
          </li>
          <li>
            <a [routerLink]="'/'" fragment="about">О нас</a>
          </li>
          <li>
            <a [routerLink]="'/catalog'" [routerLinkActive]="'active'">Статьи</a>
          </li>
          <li>
            <a [routerLink]="'/'" fragment="reviews">Отзывы</a>
          </li>
          <li>
            <a [routerLink]="'/'" fragment="contacts">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer-middle">
      <div class="footer-middle-contact">
        <div class="footer-middle-contact-head">Адрес</div>

        <div class="footer-middle-contact-info">Пресненская наб., 12, Москва, Россия, 123317.</div>
      </div>

      <div class="footer-middle-contact">
        <div class="footer-middle-contact-head">Телефон</div>

        <a href="tel:+74993431334" class="footer-middle-contact-info">+7 (499) 343-13-34</a>

        <button class="button footer-middle-contact-button" (click)="openConsultationFormPopup()">Перезвоните мне
        </button>
      </div>

      <div class="footer-middle-contact">
        <div class="footer-middle-contact-head">E-mail</div>

        <a href="mailto:info@itstorm.com" class="footer-middle-contact-info">info@itstorm.com</a>
      </div>

      <div class="footer-middle-contact">
        <div class="footer-middle-contact-head">Мы в социальных сетях:</div>

        <div class="footer-middle-contact-socials">
          <a href="https://vk.com">
            <img src="/assets/images/pages/footer/socials-vk-com.svg" alt="vkcom">
          </a>

          <a href="https://facebook.com">
            <img src="/assets/images/pages/footer/socials-facebook.svg" alt="facebook">
          </a>

          <a href="https://instagram.com">
            <img src="/assets/images/pages/footer/socials-instagram.svg" alt="insta">
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">&copy; 2022. Все права защищены</div>
  </div>
</footer>

<ng-template #popupConsultation>
  <div class="request-popup" #requestPopup>
    <div class="request-popup-title">Закажите бесплатную консультацию!</div>

    <div class="request-popup-close" (click)="closeConsultationFormPopup()">
      <img src="assets/images/pages/main/close-cross-gray.svg" alt="Крестик">
    </div>

    <form class="request-popup-form" [formGroup]="consultationRequestForm">
      <input type="text" class="input"
             [ngStyle]="{'border-color': firstNameConsult?.invalid && (firstNameConsult?.touched || firstNameConsult?.dirty) ? 'red' : ''}"
             placeholder="Ваше имя" [formControlName]="'firstNameConsult'">

      <input type="text" class="input"
             [ngStyle]="{'border-color': phoneConsult?.invalid && (phoneConsult?.touched || phoneConsult?.dirty) ? 'red' : ''}"
             placeholder="Ваш номер телефона" [formControlName]="'phoneConsult'">

      <button class="button" [disabled]="consultationRequestForm.invalid" (click)="addConsultationRequest()">Заказать
        консультацию
      </button>
    </form>
  </div>

  <div class="success" #sentSuccess>
    <div class="success-title">Спасибо за вашу заявку!</div>

    <div class="success-text">Мы свяжемся с вами при первой же возможности.</div>

    <button class="button" (click)="closeConsultationFormPopup()">Окей</button>
  </div>
</ng-template>
