<footer class="footer">
  <div class="container">
    <div class="footer-up">
      <a href="javascript:void(0)" class="logo">
        <img src="/assets/images/pages/header/logo.svg" alt="Logo">
      </a>

      <nav class="footer-up-menu">
        <ul>
          <li>
            <a>Услуги</a>
          </li>
          <li>
            <a>О нас</a>
          </li>
          <li>
            <a>Статьи</a>
          </li>
          <li>
            <a>Отзывы</a>
          </li>
          <li>
            <a>Контакты</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer-middle">
      <div class="footer-middle-contact">
        <div class="footer-middle-contact-head">Адрес</div>

        <div class="footer-middle-contact-info">Пресненская наб., 12, Москва, Россия, 123317.</div>
      </div>

      <div class="footer-middle-contact">
        <div class="footer-middle-contact-head">Телефон</div>

        <div class="footer-middle-contact-info">+7 (499) 343-13-34</div>

        <button class="button footer-middle-contact-button">Перезвоните мне</button>
      </div>

      <div class="footer-middle-contact">
        <div class="footer-middle-contact-head">E-mail</div>

        <div class="footer-middle-contact-info">info@itstorm.com</div>
      </div>

      <div class="footer-middle-contact">
        <div class="footer-middle-contact-head">Мы в социальных сетях:</div>

        <div class="footer-middle-contact-socials">
          <a>
            <img src="/assets/images/pages/footer/socials-vk-com.svg" alt="vkcom">
          </a>

          <a>
            <img src="/assets/images/pages/footer/socials-facebook.svg" alt="facebook">
          </a>

          <a>
            <img src="/assets/images/pages/footer/socials-instagram.svg" alt="insta">
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">&copy; 2022. Все права защищены</div>
  </div>
</footer>
