<section class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">Войти в личный кабинет</div>

      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" class="input" placeholder="Электронная почта"
                 [ngStyle]="{'border-color': email?.invalid && (email?.touched || email?.dirty) ? 'red' : ''}"
                 [formControlName]="'email'">
        </div>

        <div class="auth-input">
          <input type="password" class="input" placeholder="Пароль"
                 [ngStyle]="{'border-color': password?.invalid && (password?.touched || password?.dirty) ? 'red' : ''}"
                 [formControlName]="'password'">
        </div>

        <div class="auth-checkbox">
          <input type="checkbox" id="remember-me" [formControlName]="'rememberMe'">
          <label for="remember-me">Запомнить меня</label>
        </div>
      </div>

      <div class="auth-button">
        <button class="button" [disabled]="loginForm.invalid" (click)="login()">Войти</button>
      </div>

      <div class="auth-link">
        Нет аккаунта? <a [routerLink]="'/signup'">Пройдите регистрацию</a>
      </div>
    </div>

    <div class="page-image">
      <img src="/assets/images/pages/login/login-image.png" alt="login-image">
    </div>
  </div>
</section>
