@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.service-card {
  width: 290px;
  flex-wrap: wrap;
  color: $main-light-blue;
  height: 498px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &__category {
    position: absolute;
    font-size: 11px;
    padding: 10px 18px;
    background-color: $abs-white;
    border-radius: 5px;
    top: 10px;
    right: 9px;
  }

  &__image {
    height: 290px;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
  }

  &.is-catalog-card {
    width: 292px;
    min-height: 571px;
    height: auto;

    .service-card__image {
      height: 292px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__description {
    font-size: 14px;
    line-height: 130%;
    color: $main-dark-blue;
  }

  &__link {
    font-size: 16px;
    line-height: 130%;
    text-decoration: underline;
    cursor: pointer;
    margin-top: auto;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;

    &-price {
      font-size: 20px;
      font-weight: 600;
    }
  }
}
