@import '_mixins.scss';
@import '_variables.scss';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.button {
  padding: 15px 33px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  background-color: $main-light-blue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  border: 0;

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid $main-light-blue;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $gray-text-color;
}

.detail-main-text h1, h2, h3, h4, h5, h6, p b {
  color: $main-light-blue;
}

.detail-main-text p {
  color: $main-dark-blue;
}

.request-popup {
  padding: 95px 150px 85px;
  min-width: 422px;
  max-width: 450px;
  position: relative;
  text-align: center;

  &-close {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
  }

  &-title {
    @include head-lora-38;
    margin-bottom: 40px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;

    .input, .button {
      width: 100%;
    }
  }
}

.success {
  display: none;
  padding: 95px 150px 85px;
  min-width: 422px;
  max-width: 450px;
  position: relative;
  text-align: center;

  &-title {
    @include head-lora-38;
    margin-bottom: 20px;
  }

  &-text {
    font-size: 14px;
    font-weight: 500;
    color: $very-dark-blue;
    margin-bottom: 40px;
  }
}

.owl-carousel {
  position: relative;

  .owl-dots {
    position: absolute;
    z-index: 3;
    bottom: 65px;
    left: calc(50% - 36px);

    .owl-dot {

      span {
        background-color: transparent;
        border: 1px solid $abs-white;
      }

      &.active span {
        background-color: $abs-white;
      }
    }
  }
}

.owl-theme .owl-dots .owl-dot:not(.active):hover span {
  background-color: transparent;
}
