html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.button {
  padding: 15px 33px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  background-color: $main-light-blue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border: 2px solid $main-light-blue;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $gray-text-color;

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}
